{% extends "base" %}

{% block content %}
    <h1>{{Title}}</h1>
    <h3>By: {{Author_fname}}, {{Author_lname}}</h3>
    <h3>${{Price}}</h3>
    <ul>
        ISBN: {{Isbn}}
        Genre: {{Genre}}
        Page count: {{Page_count}}
        Publisher: {{Pub_name}}
    </ul>
{% endblock content %}
